@font-face {
  font-family: "Azo Super";
  src: url("../font/AzoSuper.woff2") format("woff2"),
    url("../font/AzoSuper.woff") format("woff"),
    url("../font/AzoSuper.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Azo Super";
  font-weight: 900;
  font-style: normal;
}
