body {
  font-family: "Azo Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.section {
  padding: 0 2rem;
}

.title, .subtitle {
  font-family: "Azo Super", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.col {
  flex: 1;
  padding: 0;
  margin: 0 2rem;
}

.col-md-2 {
  max-width: 20%;
}

.col-md-10 {
  max-width: 80%;
}

.logo {
  margin-right: 2rem;
}

.logo > img {
  border-radius: 50%;
  outline: #00f260 .5rem solid;
  outline-offset: .5rem;
  width: 15rem;
  height: 15rem;
  transition: all .5s ease;
}

.logo > img:hover {
  transform: scale(1.1);
}

.title {
  font-size: 10rem;
  background-image: linear-gradient(45deg, #00f260, #0575e6);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.subtitle {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 2rem;

  background-image: linear-gradient(45deg, #00f260, #0575e6);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
  color: #fff;
}

.underline {
  text-align: center;
  padding-bottom: 0.5rem;
  background: linear-gradient(45deg, #00f260, #0575e6) left bottom no-repeat;
  background-size: 100% 0.5rem;
}

strong {
  color: #00f260;
}

ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul li {
  padding-left: 0;
  padding-right: 2rem;
}

.social {
  font-size: 5rem;
  margin-top: -7.5rem;
}

.social a {
  color: #00f260;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.social a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.icons {
  margin: 0 .5rem;
  color: #00f260;
}

.social_button {
  border: none;
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  position: relative;
  transition: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: rgba(26, 26, 26, 1);
  box-shadow: 0 4px #1e9554;
  margin: 0 .5rem;
  font-weight: bold;
}

.social_button:hover {
  box-shadow: 0 2px #1e9554;
  color: rgba(255, 255, 255, .6);
  top: 2px;
}

.social_button:active {
  box-shadow: none!important;
  top: 4px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  color: #00f260;
  text-align: center;
  font-weight: bold;
}

/* Navigation arrows style */
#fp-nav ul {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#fp-nav ul li {
  display: inline-block;
  width: auto;
  padding: 1.2rem 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#fp-nav ul li a {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
  transition: all .5s ease;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-image: linear-gradient(45deg, #00f260, #0575e6) !important;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Navigation tooltip text */
#fp-nav ul li .fp-tooltip.fp-right {
  font-family: "Azo Super";
  font-weight: 900;
  top: .25rem;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  background-image: linear-gradient(45deg, #00f260, #0575e6) !important;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* Responsive Design */
@media screen and (max-width: 1200px) {
  .row {
    flex-direction: column;
  }

  .col {
    flex: 1;
    margin: 0;
  }

  .col-md-2 {
    max-width: 100%;
  }

  .col-md-10 {
    max-width: 100%;
    text-align: center;
  }

  .logo {
    margin-right: 0;
  }

  .logo > img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .logo > img:hover {
    transform: scale(1);
  }

  #contact {
    text-align: center;
  }

  .title {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 3rem;
  }

  #about .paragraph {
    font-size: 1rem;
  }

  .paragraph {
    width: 100%;
    font-size: 1.2rem;
  }

  ul li {
    padding-right: 0.25rem;
  }

  .social {
    font-size: 2rem;
    margin-top: -2rem;
  }

  footer {
    font-size: 0.7rem;
  }

  /* Navigation arrows style */
  #fp-nav.fp-right {
    right: .35rem !important;
  }

  #fp-nav ul li {
    padding: 1.2rem 0;
  }

  #fp-nav ul li .fp-tooltip.fp-right {
    display: none;
  }
}