#title {
  font-size: 10rem;
  background-image: linear-gradient(45deg, #00f260, #0575e6);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#underline {
  text-align: center;
  padding-bottom: 0.5rem;
  background: linear-gradient(45deg, #00f260, #0575e6) left bottom no-repeat;
  background-size: 100% 0.5rem;
}

ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

ul li {
  padding-left: 0;
  padding-right: 2rem;
}

#social {
  font-size: 5rem;
  margin-top: -7.5rem;
}

#social a {
  color: #00f260;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#social a:hover {
  color: rgba(255, 255, 255, 0.8);
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  color: #00f260;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 4rem;
  }

  ul li {
    padding-right: 0.25rem;
  }

  #social {
    font-size: 2rem;
    margin-top: -2rem;
  }

  footer {
    font-size: 0.7rem;
  }
}
